#body{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
    display: flex;
    width: 40px;
    height: 25px;
    margin: 2px;
    justify-content: center;
    background-color: rgb(155, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
}   
#counterDisplay{
    height: 30%;
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bold;;
}

#input{
    margin: 4px;
    width: 200px;
    height: 25px;
}
 